<div class="banner" style="--image: url('<%= cl_image_path @list.banner.key, width: 2000, height: 412, crop: :fill %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container">
  <%= link_to 'Add a new bookmark', new_list_bookmark_path(@list), class: "btn btn-primary mt-4 rounded float-right" %>
  <div class="clearfix"></div>
  <div class="row py-4">
    <% if !@list.movies.first.nil? %>
      <% @list.movies.each do |movie| %>
        <div class="col-12 col-md-6">
          <div class="card mb-4 shadow-sm rounded">
          <%= link_to bookmark_path(movie.bookmarks.first), class: "btn btn-outline-danger shadow delete-bookmark", method: :delete, data: { confirm: "Delete '#{movie.title}'?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
          <%= cl_image_tag movie.poster.key, class: "card-img-top", alt: "#{movie.title} poster", width: 600, height: 300, crop: :fill %>
            <div class="card-body">
              <h4 class="text-muted"><strong><%= movie.title %></strong><small> • <%= movie.rating %> <i class="fas fa-star"></i></small></h4>
              <p class="card-text"><%= movie.overview %></p>
              <hr>
              <p class="card-text"><i class="fas fa-quote-left mr-2"></i><%= movie.bookmarks.first.comment %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
